<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Vehicle Detection-Count-Classification App</title>
  <!-- CSS  -->
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav style="background-color: #32a84a" class="lighten-1"  role="navigation" style="height: 100px">
    <div class="nav-wrapper container">
      <a id="logo-container" class="brand-logo center"><h5>Vehicle Detection-Count-Classification App</h5></a>
      <div style="margin-left: 800px">
      	   Made by <a class="orange-text text-lighten-3">Pianalytix</a>
      </div>
    </div>
  </nav>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row">
        <form action='/' method="post" class="col s12" enctype="multipart/form-data">
          <div class="row">

            <div class="input-field col s5" style="margin-left: 20px; margin-top: 150px">
              <div class = "row">

                  <div class="row">
                    <label for="first_name"><b>Upload Image</b></label><br>
                    <div class = "file-field input-field">
                      <div class = "btn" style="background-color: #32a84a">
                        <span>Browse</span>
                        <input type = "file" name="image_upload" id="image_upload" />
                      </div>
                      <div class = "file-path-wrapper">
                        <input class = "file-path validate" type = "text" placeholder = "Upload Image" name="image_name" id="image_name" />
                      </div>
                    </div>
                  </div>

                  <div class="row center" style="margin-top: 50px">
                    <button id="submit" type="submit" class="btn-large" style="background-color: #32a84a">Process</button>
                  </div>

              </div>
            </div>

            <div class="input-field col s3">
              <div style="text-align: center; padding-top: 50px; margin-left: 100px">
                <img src="{{ url_for('static',filename=full_filename) }}" width="500" height="300">
              </div>
              {% if pred != None %}
              <div style="width: 500px; margin-left: 100px; text-align: center;" >
                <h5>{{ pred }}</h5>
              </div>
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  </div>
  </div>

  <!--  Scripts-->
  <script src="./static/js/materialize.js"></script>
  <script type="text/javascript">
    document.getElementById('image_upload').onchange = function () {
        document.getElementById('image_name').value = this.value.slice(12,100);
    };
  </script>

  </body>
</html>
